/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 15px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: #0097e6;
}

.btn-one {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Navigation */
nav {
  padding: 12px 0;
  background: #0097e6;
}

nav {
  text-decoration: none;
}

nav a:hover {
  color: #33d9b2;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li ul {
  position: absolute;
  left: 0;
  background: #ffffff;
  margin-top: 10px;
  display: none;
}

nav ul li:hover ul {
  display: block;
  text-align: center;
}

nav ul li ul li {
  background: #ffffff;
}

nav ul li ul li a {
  color: #0097e6;
}

/* Header */
.splash {
  display: flex;
  background: #0097e6;
  min-height: 500px;
  color: #ffffff;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  line-height: 1.2;
  font-weight: 400;
}

.page-subtitle {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title span {
  font-weight: 800;
}

/* Our services */
.box {
  flex: 0 0 33.33%;
  position: relative;
}

.box-title {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.number {
  font-size: 144px;
  line-height: 1;
  position: absolute;
  left: 0;
  top: -25px;
  opacity: 0.2;
  color: #33d9b2;
}

.box p {
  margin: 0;
  font-size: 12px;
}

.box p:first-of-type {
  font-weight: 800;
}

.btn-two {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);
}

.btn-two:hover {
  color: #ffffff;
}

.btn-three {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);
}

.btn-four {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(90deg, #ff5252 50%, transparent 50%);
}

/* our work */
.skill-left {
  position: relative;
  margin-bottom: 96px;
  flex: 0 0 50%;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
  font-size: 15px;
}

.skill-description p {
  margin: 0;
}

.skill-description p:last-of-type {
  font-weight: 800;
}

/* Contact  */
.contact {
  background: #0097e6;
  color: #ffffff;
}

.contact-form {
  display: block;
  padding: 10px 10px;
  margin-right: 96px;
  width: 70%;
  flex: 2 0 0;
}

.btn-contact {
  padding: 10px 10px;
}

.input-contact {
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #ffffff;
  background: #0097e6;
}

::-moz-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.address {
  flex: 1 0 0;
}

.address-title {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.address-description {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

/* Footer */
.social-media ul {
  display: flex;
  margin: 48px 0;
  justify-content: center;
}
.social-media ul li {
  font-size: 0;
}
.social-media ul i {
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #ff5252;
  line-height: 60px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
}
.social-media ul li:hover {
  transform: scale(1.2);
}
.social-media p {
  font-size: 35px;
}